.idea/
.vscode/
*.iml
*.iws
*.ipr


# 2. JAVA / SPRING BOOT BACKEND

bookexchange_backend/target/
bookexchange_backend/pom.xml.tag
bookexchange_backend/pom.xml.versionsBackup

bookexchange_backend/*.db
bookexchange_backend/*.sqlite
bookexchange_backend/bookexchange.db


# 3. NODE / REACT FRONTEND

frontend/build
frontend/dist


frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.npm
frontend/.yarn-integrity
frontend/.yarn-cache


*.log
log/
temp.log
# macOS files
.DS_Store